/* || Stilizare main - sectiune welcome */
.welcome {
	height: 50vh;
}

/* || Stilizare main - sectiune contact */
.contact-info, .contact-form {
	min-width: 320px;
	max-width: 500px;
}
.google-maps {
	height: 235px;
}

.contact-form textarea {
	height: 200px;
}