/* Workaround sa fie trimitearea din anchor (buton in cazul nostru) la o anumita parte din pagina, 
luand in calcul si un offset din cauza header-ului fix.
https://getpublii.com/blog/one-line-css-solution-to-prevent-anchor-links-from-scrolling-behind-a-sticky-header.html */
html {
	scroll-padding-top: 60px;
}
	
/* || Stilizare main - sectiune slider */
.slide {
	transition: all 0.5s;
}

/* || Stilizare main - sectiune beneficii */
.beneficii img {
	filter: grayscale(70%);
}

	.beneficii img:hover {
		filter: grayscale(0);
	}
				
.scrolling-text-wrapper {
	height: 35px;
	width: 300px;
}
		
	.scrolling-text {
		line-height:35px;
		-webkit-animation: scroll-text 14s linear infinite; /* pentru safari iOS */
		animation: scroll-text 14s linear infinite;
	}

			/* pentru safari iOS */
			@-webkit-keyframes scroll-text {
				0% { -webkit-transform: translateX(50%); }
				100% { -webkit-transform: translateX(-100%); }
			}
			
			@keyframes scroll-text {
				0% { transform: translateX(50%); }
				100% { transform: translateX(-100%); }
			}

	/* || Stilizare main - sectiune beneficii - pentru desktop */
	@media (min-width: 992px) {
		.beneficii .container {
			display: grid;
			grid-template-areas:
				'image title'
				'image text';
			gap: 1rem;
		}

			.beneficii .container img {
				width: 400px;
				grid-area: image;
				align-self: center;
			}

			.beneficii .container .title {
				grid-area:title;
				align-self: end;
			}
			
			.beneficii .container .text {
				grid-area: text;
				align-self: start;
			}
	}